html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: #f8f8fb;
    margin-top: 10%;
}

#container {
    width: 70%;
    height: auto;
    border: 4px solid black;
    border-radius: 10px;
    background-color: white;
    /* border-radius: 10%; */
    overflow: hidden;
    /* box-shadow: 10px 5px 5px gray; */
}

#header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(24,154,214,.25);
    padding: 10px;
    border-bottom: 2px solid black;
    /* color: #189ad6; */
}

#header > h1 {
    margin:0;
}

#header > p {
    text-align: center;
}

#content {
    margin: 10px 20px 20px 20px;
}


div.email {
    display: flex;
}

#email {
    height: 40px;
    flex: 1;
    margin-bottom: 10px;
    font-size: 100%;
}

::placeholder {
    font-size: 100%;
}

p.note {
    font-size: .5rem;
}

#dropZone {
    height: 200px;
}

#file {
    display: none;
}