html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f8fb
}

#container {
    width: 420px;
    height: auto;
    border: 1px solid black;
    border-radius: 30px;
    background-color: white;
    border-radius: 10%;
    overflow: hidden;
}

#header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(24,154,214,.25);
    padding: 10px;
    /* color: #189ad6; */
}

#header > h1 {
    margin:0;
}

#header > p {
    text-align: center;
}

#content {
    margin: 10px 20px 20px 20px;
}


div.email {
    display: flex;
}

#email {
    height: 40px;
    flex: 1;
    margin-bottom: 10px;
}

::placeholder {
    font-size: 1rem;
}

p.note {
    font-size: .5rem;
}