<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">

{% if new %}
<h1>Welcome!</h1>
{% else %}
<h1>Welcome back!</h1>
{% endif %}
<h2>Download link</h2>
<a href='/downloadAssignment'>Download</a>

<!-- {% if new %}
<h1>Welcome!</h1>
<h2>Download link</h2>
<a href='/downloadAssignment'>Download</a>
{% else %}
<h1>Welcome back!</h1>
<h2>Download link</h2>
<a href='/downloadAssignment'>Download</a>
<h2>New assignment?</h2>
<a href='/downloadNewAssignment'>Download new assignment</a>
{% endif %} -->