<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
  </head>
  <body>
    <div id="container">
        <div id="header">
            <h1>Welcome!</h1>
            <p>
                This is the landing page for Reed's musical annotation experiment.
            </p>
        </div>

        <div id="content">
            <div>
                <h3>Please select an option</h3>
                <div>
                    <input type="radio" id="option1" name="option" value="first" checked />
                    <label for="option1">I am downloading my assignment for the first time</label>
                </div> 
                <div>
                    <input type="radio" id="option2" name="option" value="redownload" />
                    <label for="option2">I need to redownload my assignment</label>
                </div>
                <div>
                    <input type="radio" id="option3" name="option" value="returning" />
                    <label for="option3">I am finished with my assignment and would like to download another</label>  
                </div>  
            </div>
            <div>
                <h3>Please enter your email</h3>
                <div class="email">
                    <input name="email" id="email" placeholder="you@example.com" required/>
                    <!-- <label for="email">Email</label> -->
                </div>
                <div>
                    <button id="submit" onclick="submit();">Download</button>
                </div>
            </div>
            <div>
                <p class="note">Your email is used to keep track of which assignment you download in case you lose it or would like to download another one. I promise that I won't spam you with anything :)</p>
            <div>
        </div>
    </div>
    
    
    <script>
        function validateEmail(email) {
            return /[^@]+@[^@]+\.[^@]+/.test(email);
        }
        function send(option, email) {
            var req = new XMLHttpRequest();
            req.open("POST", "/api/assignment", true);
            req.setRequestHeader('Content-Type', 'application/json');
            req.responseType = "blob";
            req.onload = function (event) {
                if (req.status == 200) {
                    if(req.response.type === 'application/pdf') {
                        const header = req.getResponseHeader('content-disposition')
                        const filename = /filename=(assignment\d+.pdf)/.exec(header)[1];
                        var blob = req.response;
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = filename;
                        link.click();
                    } else {
                        req.response.text()
                        .then(t => alert(JSON.parse(t).message));
                    }
                }
            };
            const body = JSON.stringify({option: option, email: email});
            req.send(body);
        }
        function submit() {
            const option = document.querySelector('input[name="option"]:checked').value;
            const email = document.getElementById('email').value;
            if (!validateEmail(email)) {
                alert('Please enter a valid email!');
                return;
            }
            send(option, email);
            console.log(option);
        }
    </script>
  </body>
</html>  