<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
    <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>
    <title>Reed | Thesis</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
  <body>
    <div id="container">
        <div id="header">
            <h1>Welcome!</h1>
            <p>This is the landing page for Reed's musical annotation experiment.</p>
        </div>
        <div id="content">
            <div>
                <h3>Please select an option</h3>
                <div>
                    <input type="radio" id="option1" name="option" value="first" checked />
                    <label for="option1">I am downloading my assignment for the first time</label>
                </div> 
                <div>
                    <input type="radio" id="option2" name="option" value="redownload" />
                    <label for="option2">I need to redownload my assignment</label>
                </div>
                <div>
                    <input type="radio" id="option3" name="option" value="returning" />
                    <label for="option3">I am finished with my assignment and would like to download another</label>  
                </div> 
            </div>
            <div>
                <h3>Please enter your email</h3>
                <div class="email">
                    <input name="email" id="email" placeholder="you@example.com" required/>
                </div>
                <div class="xhr-block">
                    <button id="submit" onclick="downloadAssignment();">Download</button>
                    <div class="status">
                        Status: <span id="download-status">Ready</span>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <h3>OR, if you are finished...</h3>
                <div>
                    <a href="/upload">I am finished with my assignment and would like to submit it</a> 
                </div>   
            </div>
            <hr>
            <div>
                <h3>About</h3>
                <p>Thank you for helping me gather the data I need to complete my master's thesis! You'll find detailed instructions included with your download.</p>
                <p>In the Western canon, we recognize that music usually adheres to some form of hierarchical structure. In a classical piece this might be the A-B-A <a href="https://en.wikipedia.org/wiki/Sonata_form">sontata-allegro form</a>. In pop music this could be the Verse-Chorus-Verse-Chorus-Bridge-Chorus-Chorus form. In the smaller extreme, short musical sequences such as hymn melodies or improvised jazz solos may carry repeated motives and phrases.</p>   
                <p>What machinery is needed to equip a computer with the ability to create new music, whether it be classical music, pop music or hymn music? I hypothesize that a creative system must 1) be able to understand music from a structural standpoint and 2) be capable of targeting a given (or generated) musical structure when it is composing.</p>  
                <p>There are a variety of algorithms that can find <a href="https://en.wikipedia.org/wiki/Sequitur_algorithm">hierarchical patterns in generic sequences</a>, and some may be more useful in a musical context than others. In order to evaluate and compare the performance of these algorithms, we seek a human baseline to establish ground truth structural interpretations. Your task will be to annotate several short excerpts of music. Please download a file, add your annotations, and upload them here when you're done.</p>
            </div>
        </div>
    </div>
  </body>
</html>  