html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8fb;
}

#container {
    width: 70%;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    margin: 5% 0 5%;
}

#header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(24,154,214,.25);
    padding: 10px;
    border-bottom: 2px solid black;
    /* color: #189ad6; */
}

#header > h1 {
    margin:0;
}

#header > p {
    text-align: center;
}

#content {
    margin: 10px 20px 20px 20px;
}

div.email {
    display: flex;
}

#email {
    height: 40px;
    flex: 1;
    margin-bottom: 10px;
    font-size: 100%;
}

::placeholder {
    font-size: 100%;
}

#file {
    display: none;
}

.radio-group {
    display: inline-block;
    text-align: center;
    margin: 5px 10px 0px 10px;
}

.radio-group label {
    display: block;
}

.q {
    margin: 30px 0 30px 0;
}

.q-block {
    margin: 10px 0 10px 0;
}

.q-title {
    font-weight: bold;
}

.optional {
    font-weight: normal;
    color: gray
}

.required {
    font-weight: normal;
    color: red;
    display: inline;
}

.feedback-wrapper {
    display: flex;
}

#feedback-text {
    flex: 1;
    min-height: 100px;
}

.likert {
    display: flex;
    justify-content: center;
}

select {
    width: 150px;
    height: 30px;
}

.status {
    display: inline;
}

.xhr-block {
    margin-bottom: 10px;
}

@media (max-width: 566px) {
    .likert {
        flex-direction: column;
        align-items: flex-start;
    }
    .radio-group label {
        display: inline;
    }
}

hr {
    margin: 40px auto 40px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

nav {
    margin: 10px 20px 10px;
    /* display: flex;
    justify-content: center; */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul div {
    width: 1px;
    height: 15px;
    background-color: black;
    display: inline-block;
    margin: 0 10px 0;
}
